<nav class="nav-categories overflow-x-auto no-scrollbar mt-2 pb-2 border-b-4 border-black pl-6">    
<div class="flex items-center space-x-6 mt-2">
    {% if user.is_authenticated %}
        <a class="text-black font-bold whitespace-nowrap mr-6" href="{% url 'sosmed:add_post' %}"><i class="fas fa-plus"></i></a>
    {% endif %}
        <a class="text-black font-bold whitespace-nowrap" href="{% url 'sosmed:index' %}">For you</a>
        <a class="text-black font-bold whitespace-nowrap" href="{% url 'sosmed:postbyfollowing' %}">Following</a>
        {% for category in categories %}
        <a class="text-black font-bold whitespace-nowrap" href="{% url 'sosmed:category_posts' category.id %}">{{ category.name }}</a>
        {% endfor %}
    </div>
</nav>