<!-- navbar.html (for desktop) -->
<header class="bg-white border-b-4 border-black hidden lg:block">
    <div class="container mx-auto px-4 py-2">
        <div class="flex justify-between items-center">
            <div>
                <a href="{% url 'sosmed:index' %}">
{#                    <img alt="logo" class="h-12 mr-4 border-4 border-black" src="your-logo-url.jpg">#}
                    <h3 class="text-black font-bold">LEARN SOSMED</h3>
                </a>
            </div>
            <div class="flex items-center space-x-4">
                <button class="text-black font-bold">
                    <i class="fas fa-search"></i>
                </button>
                {% if user.is_authenticated %}
                <a href="{% url 'sosmed:detail_profile' user_id=user.id %}" class="text-black font-bold">
                    <img alt="User avatar" class="h-12 w-12 rounded-full border-4 border-black" src="{{ user.profile_picture.url }}">
                </a>
                <a href="{% url 'sosmed:logout' %}" class="block px-4 py-2 border-4 border-black text-black hover:bg-gray-200">Logout</a>
                {% else %}
                <a href="{% url 'sosmed:login' %}" class="block px-4 py-2 border-4 border-black text-black hover:bg-gray-200">Login</a>
                <a href="{% url 'sosmed:register' %}" class="block px-4 border-4 border-black py-2 text-black hover:bg-gray-200">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>