<div class=" fixed bottom-0 left-0 right-0 bg-white border-t border-black flex justify-around items-center py-2 shadow-lg lg:hidden">
    <a href="{% url 'sosmed:index' %}" class="flex flex-col items-center text-black hover:text-gray-700">
        <i class="fas fa-home text-xl"></i>
        <span class="text-xs">Home</span>
    </a>
    <a href="{% url 'sosmed:save_all' %}" class="flex flex-col items-center text-black hover:text-gray-700">
        <i class="fas fa-bookmark text-xl"></i>
        <span class="text-xs">bookmark</span>
    </a>
    <a href="#" class="flex flex-col items-center text-black hover:text-gray-700">
        <i class="fas fa-bell text-xl"></i>
        <span class="text-xs">Notifications</span>
    </a>
    <a href="#" class="flex flex-col items-center text-black hover:text-gray-700">
        <i class="fas fa-comment-alt text-xl"></i>
        <span class="text-xs">Messages</span>
    </a>
     {% if user.is_authenticated %}
    <a href="{% url 'sosmed:detail_profile' user_id=user.id %}" class="flex flex-col items-center text-black hover:text-gray-700">
        <i class="fas fa-user text-xl"></i>
        <span class="text-xs">Profile</span>
    </a>
    {% endif %}
</div>