{% extends "base.html" %}
{% load static %}
{% block title %}
{{ title }}
{% endblock title %}
{% block content %}
    {% include "navbar.html" %}

    <form action="{% url 'sosmed:add_post' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Post</button>
    </form>
    <!-- Konten Utama -->
    <div class="max-w-2xl mx-auto p-4">
    {% for post in posts %}
        <div class="bg-white rounded-lg shadow-md p-4 mb-4">
            <h2 class="text-xl font-semibold mb-2">Postingan Terbaru</h2>
            <div class="mb-4">
                <p class="text-gray-700">{{ post.creator.name }}: {{ post.caption }}
            <br></p>
                <img src="{{ post.img_url }}" alt="{{ post.caption }}" class="w-full rounded-lg mt-2 mb-2">
                 <p>Category: {{ post.categories }}</p>
                 <p>Created at: {{ post.created_at }}</p>
                <div class="flex justify-between mt-4">
                    <button class="text-blue-500 hover:underline">Like</button>
                    <button class="text-blue-500 hover:underline">Comment</button>
                    <button class="text-blue-500 hover:underline">Save</button>
                </div>
            </div>
        </div>
    {% endfor %}

        <div class="bg-white rounded-lg shadow-md p-4 mb-4">
            <h2 class="text-xl font-semibold mb-2">Postingan Tanpa Gambar</h2>
            <div class="mb-4">
                <p class="text-gray-700">Ini adalah contoh postingan tanpa gambar atau video.</p>
                <div class="flex justify-between mt-4">
                    <button class="text-blue-500 hover:underline">Like</button>
                    <button class="text-blue-500 hover:underline">Comment</button>
                    <button class="text-blue-500 hover:underline">Save</button>
                </div>
            </div>
        </div>

        <div class="bg-white rounded-lg shadow-md p-4 mb-4">
            <h2 class="text-xl font-semibold mb-2">Postingan dengan Video</h2>
            <div class="mb-4">
                <p class="text-gray-700">Ini adalah contoh postingan dengan video.</p>
                <video controls class="w-full rounded-lg mt-2 mb-2">
                    <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                    Browser Anda tidak mendukung video tag.
                </video>
                <div class="flex justify-between mt-4">
                    <button class="text-blue-500 hover:underline">Like</button>
                    <button class="text-blue-500 hover:underline">Comment</button>
                    <button class="text-blue-500 hover:underline">Save</button>
                </div>
            </div>
        </div>
    </div>

{% include 'navbarmobile.html' %} }
{% endblock content %}